.lesson-list{
  width: 95%;
  margin: 0 auto;
  h3{
    font-weight: normal;
    font-size: 13px;
    line-height: 40px;
  }
  .lesson-list-item{
    border-radius: 4px;
    box-shadow: 1px 1px 1px 3px #f1f1f1,-1px -1px 1px 3px #f1f1f1;
    text-align: center;
    margin-bottom: 20px;
    p{font-size: 22px; line-height: 35px}
    span{color: red;font-size: 20px;line-height: 30px;}
  }

}